<!DOCTYPE html>
<html>
<head>
    <title>API日志表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("sys:apilog:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:apilog:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:apilog:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">业务ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="apiLog.bizId" placeholder="业务ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">请求信息</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="apiLog.reqInfo" placeholder="请求信息"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">请求ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="apiLog.reqId" placeholder="请求ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">通道类型</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="apiLog.channelType" placeholder="通道类型"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">返回信息</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="apiLog.respInfo" placeholder="返回信息"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">返回码</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="apiLog.respCode" placeholder="返回码"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">返回信息</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="apiLog.respMessage" placeholder="返回信息"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">状态</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="apiLog.status" placeholder="状态"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">创建时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="apiLog.createTime" placeholder="创建时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">更新时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="apiLog.updateTime" placeholder="更新时间"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/apilog.js?_${.now?long}"></script>
</body>
</html>